body {
    font-family: Arial, sans-serif;
    background-color: #d8e2dc; /* Jungle-themed background color */
    color: #1b4332; /* Jungle-themed text color */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#forms {
    width: 300px;
    margin: 0 auto;
}

form {
    background-color: #52b788;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #40916c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1b4332;
}

#main-content {
    margin-top: 20px;
    overflow: hidden;
}

#user-options {
    text-align: center;
}

#user-options button {
    display: block;
    width: 80%;
    margin: 10px auto;
}

#pet-display {
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.pet-image-container {
    position: absolute;
    bottom: 0;
    display: inline-block;
    z-index: 2; /* Asegura que las imágenes estén sobre el fondo */
}
/*
.pet-image {
    position: absolute;
    bottom: 0;
}
*/
.pet-info-user {
    display: none;
    position: absolute;
    bottom: 100%; /* Muestra la información sobre la imagen */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: max-content;
}

.pet-image-container:hover .pet-info-user {
    display: block;
}

#pets-container {
    display: flex;
    flex-direction: column; /* Muestra los elementos en columna */
    gap: 10px; /* Espacio entre cada mascota */
    padding: 10px;
    width: 100%;
}

.pet-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre la imagen y la información */
    background-color: white; /* Fondo blanco para resaltar */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para efecto visual */
}

.pet {
    width: 80px;
    height: 80px;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
}

.pet-info {
    display: flex;
    flex-direction: column;
}
